@import url("globals.css");

.container {
  max-width: 555px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 124px 124px 124px 124px;
  grid-template-rows: 124px 376px 177px 92px;
  gap: 20px;
}

.profile-image {
  width: 124px;
  height: 124px;
  grid-column: 1;
  grid-row: 1;
}

.profile-image img {
  border-radius: var(--tile-border-radius);
  object-fit: cover;
  object-position: center;
}

.tile {
  background-color: var(--color-gray);
  border-radius: var(--tile-border-radius);
  padding: var(--tile-padding);
}

.introduction {
  display: flex;
  flex-direction: column;
  row-gap: 46px;
  grid-column: 2;
  grid-row: 1;
}

.introduction__greeting span {
  display: inline-block;
  transition-duration: var(--transition-duration);
}

.introduction:hover {
  .introduction__greeting span {
    transform: rotateZ(35deg);
  }
}

.introduction__name {
  margin-bottom: 6px;
}

.introduction__profession {
  color: var(--color-dark-gray);
}

.languages {
  grid-column: 3 / span 2;
  grid-row: 1;
}

.sub-heading {
  margin-bottom: 15px;
  line-height: 150%;
}

.languages__list {
  display: flex;
}

.languages__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 17px;
}

.languages__item {
  font-weight: 500;
  font-size: 10px;
  line-height: 104%;
}

.languages__levels {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.languages__level {
  background-color: var(--color-light-green);
  border-radius: 3px;
  height: 11px;
  width: 100%;
}

.hindi-language-level {
  width: 80%;
}

.experience {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.experience__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.job {
  border-radius: 10px;
  padding: 8px;
  background-color: var(--color-white);
  transition-duration: var(--transition-duration);
}

.job:hover {
  box-shadow: var(--box-shadow);
}

.job_recent.job {
  background-color: var(--color-light-green);
  color: var(--color-white);
}

.job_recent .job__place {
  color: var(--color-white);
}

.job_recent .job__task::before {
  border-color: var(--color-white);
}

.job_recent .job__status::before {
  color: var(--color-white);
}

.job_recent .job__most-recent {
  display: block;
  background-color: var(--color-dark-yellow);
  color: var(--color-yellow);
  border-radius: 59px;
  font-weight: 500;
  padding-inline: 6px;
  padding-block: 3px;
  line-height: 155%;
}

.job__state {
  margin-bottom: 8px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.job__most-recent {
  display: none;
}

.job__info {
  display: flex;
  gap: 10px;
}

.job__mission {
  min-width: 124px;
  align-self: flex-start;
}

.job__place {
  color: var(--color-dark-gray-2);
}

.job__status::before {
  content: "|";
  display: inline-block;
  margin-inline: 6px;
  font-size: 8px;
  color: var(--color-black);
}

.job__tasks {
  width: 100%;
}

.job__task {
  display: flex;
  align-items: flex-start;
}

.job__task::before {
  content: "";
  display: block;
  border: 1.5px solid var(--color-black);
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--color-black);
  margin-right: 9px;
  position: relative;
  top: 4px;
  left: 4px;
}

.tools {
  grid-column: 4;
  grid-row: 2;
  padding-bottom: 3px;
}

.tools__items-container {
  display: flex;
  justify-content: center;
}

.tools__items {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
}

.tools__item {
  position: relative;
}

.tools__item-title {
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 59px;
  font-size: 5px;
  line-height: 142%;
  width: max-content;
  padding: 2px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.tools__item-logos {
  background-color: var(--color-white);
  border-radius: 6px;
  padding: 16px 6px;
  width: 76px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 16px;
  justify-content: center;
  transition-duration: var(--transition-duration);
}

.tools__item-logos:hover {
  box-shadow: var(--box-shadow);
}

.tools__item-logo {
  justify-self: center;
  transition-duration: var(--transition-duration);
}

.tools__item-logo:hover {
  scale: 110%;
}

.education {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  padding-left: 8px;
}

.education__courses {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.course {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 8px;
  width: 116px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  transition-duration: var(--transition-duration);
}

.course:hover {
  box-shadow: var(--box-shadow);
}

.course_recent {
  background-color: var(--color-light-green);
  color: var(--color-white);
}

.course__state {
  display: flex;
  justify-content: space-between;
}

.course__period {
  font-size: 10px;
}

.course__most-recent {
  display: none;
}

.course_recent .course__most-recent {
  display: inline-block;
}

.course__hashtag {
  color: var(--color-dark-green);
}

.course_recent .course__hashtag {
  color: var(--color-white);
}

.interests {
  grid-column: 3 / span 2;
  grid-row: 3;
}

.interests__items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.interests__item {
  background-color: var(--color-white);
  border-radius: 40px;
  padding: 4px 10px;
  width: fit-content;
  transition-duration: var(--transition-duration);
}

.interests__item:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.interests__item span {
  font-size: 10px;
  display: inline-block;
}

.contact {
  background-color: var(--color-black);
  color: var(--color-white);
  grid-column: 3 / span 2;
  grid-row: 4;
}

.contact__email a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 10px;
  transition-duration: var(--transition-duration);
}

.contact__email a:hover {
  color: var(--color-dark-white-2);
}
