:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #f0f0f0;
  --color-dark-gray: #5c5c5c;
  --color-light-green: #28d979;
  --color-yellow: #ddf163;
  --color-dark-yellow: #7e7312;
  --color-dark-green: #149063;
  --color-dark-white: #ebf9f2;
  --color-dark-white-2: #dddddd;

  --tile-border-radius: 12px;
  --tile-padding: 12px;
  --tile-gap: 20px;

  --font-family: "Poppins", sans-serif;
}
