:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #f0f0f0;
  --color-dark-gray: #5c5c5c;
  --color-dark-gray-2: #3f3d3d;
  --color-light-green: #28d979;
  --color-yellow: #ddf163;
  --color-dark-yellow: #7e731266;
  --color-dark-green: #149063;
  --color-dark-white: #ebf9f2;
  --color-dark-white-2: #dddddd;

  --tile-border-radius: 12px;
  --tile-padding: 12px;
  --tile-gap: 20px;

  --transition-duration: 0.3s;
  --box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.4);

  --font-family: "Poppins", sans-serif;
}
